*{
    margin: 0;
    padding: 0;
  
}
body{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  
}
input{
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
}
button{
  font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar-thumb{
  background-color: red;
}
